
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculadora</title>
</head>
<body>
<div>
    <h1>Calculadora Completa</h1>
    <!-- objeto para devolver o conteudo da calculadora do browser para o servidor-->
    <!-- esta linha de comentario é vista no browser-->
    @*esta já não*@
    
    <form method="post">
        <table>
            <tr>
                <td rowspan="5">
                    <input type="text" name="visor" value="0" readonly />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="7" name="bt" />
                </td>
            
            
                <td>
                    <input type="submit" value="8" name="bt" />
                </td>
            
            
                <td>
                    <input type="submit" value="9" name="bt" />
                </td>
            
            
                <td>
                    <input type="submit" value=":" name="bt" />
                </td>
            
            
                <td>
                    <input type="submit" value="+/-" name="bt" />
                </td>
            
            
                <td>
                    <input type="submit" value="4" name="bt" />
                </td>
            
            
                <td>
                    <input type="submit" value="5" name="bt" />
                </td>
            
            
                <td>
                    <input type="submit" value="6" name="bt" />
                </td>
            
            
                <td>
                    <input type="submit" value="*" name="bt" />
                </td>
            
            <tr>
                <td>
                    <input type="submit" value="C" name="bt" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="1" name="bt" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="2" name="bt" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="3" name="bt" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="-" name="bt" />
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <input type="submit" value="=" name="bt" />
                </td>
                <td>

                </td>
            </tr>

        </table>
    </form>
</div>
</body>
</html>
